/* h1 {
  color: lightslategray;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
} */

/* .name {
  font-weight: bold;
  color: black;
}

.welcome {
  background-color: aquamarine;
  display: block;
}

.projects {
  background-color: aquamarine;
  border: 2px solid red;
  height: 100px;
} */



* {
  padding: 0;
  margin: 0;
}

.nav-options,
.nav-sep {
  /* border: 2px solid black; */
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
}

.content-devider {
  width: 100%;
  min-width: 230px;
  height: 2px;
  /* background: rgb(126,231,135); */
  margin: 0 auto;
}

.nav-header-d {
  background-color: var(--accent-color-1);
  background: radial-gradient(circle, var(--accent-color-1) 10%, rgba(255,255,255,0) 95%);
}

.main-footer-d {
  background-color: var(--accent-color-2);
  background: radial-gradient(circle, var(--accent-color-2) 10%, rgba(255,255,255,0) 95%);
}

.nav-sep {
  margin: 0 2%;
}

.nav-options a {
  color: var(--main-text-color);
  text-decoration: none;

}
.nav-options a:hover {
  text-shadow: 0px 0px 4px var(--accent-color);
}

.nav-ul {
  text-align: center;
  /* border: 2px solid green; */
  min-width: max-content;
}

nav {
  /* border: 2px solid red; */
  /* overflow: visible */
}

header {
  position: fixed;
  min-width: 230px;
  width: 100%
  /* border: 2px solid blue; */
}

body {
  background-color: var(--main-bg-color);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main {
	height: 100%
}
